<form {{action 'search' this on="submit"}}>
  {{input value=name placeholder='name'}}

  {{input value=location placeholder='location'}}

  {{input value=taxonomy placeholder='taxonomy'}}

  {{input value=npi placeholder='npi'}}

  {{#link-to 'providers/index' (query-params name=name location=location taxonomy=taxonomy npi=npi) tagName='button' class='search'}}Search it{{/link-to}}
</form>
