<form {{action "submit" on="submit"}}>
  {{input value=name placeholder='name'}}

  {{input value=location placeholder='location'}}

  {{input value=taxonomy placeholder='taxonomy'}}

  {{input value=npi placeholder='npi'}}

  {{yield}}
</form>