<div class="search-fields">
  {{#if providerSearch}}
    <label>Name {{input value=nameTemp placeholder='Provider Name' insert-newline="querySubmitted"}}</label>
  {{else}}
    <label>Organization Name {{input value=nameTemp placeholder='Organization Name' insert-newline="querySubmitted"}}</label>
  {{/if}}

  <label>City {{input value=locationTemp placeholder='City' insert-newline="querySubmitted"}}</label>
  <label>Zipcode and Radius (miles)&nbsp;&nbsp;&nbsp; {{input class="half-width" value=geoZipTemp placeholder='Zip Code' insert-newline="querySubmitted"}} {{input class="half-width" value=radiusTemp placeholder='Radius in Miles' insert-newline="querySubmitted"}}</label>
  <label>Specialties {{input class="typeahead" value=taxonomyTemp placeholder='Provider Specialties' insert-newline="querySubmitted"}}</label>
  <label>NPI {{input value=npiTemp placeholder='National Provider Identifier' insert-newline="querySubmitted"}}</label>

  {{#if providerSearch}}
    <label>Affiliated Organization {{input value=organizationTemp placeholder='Provider Organization' insert-newline="querySubmitted"}}</label>
  {{else}}
    <label>Affiliated Provider {{input value=affiliatedProviderTemp placeholder='Organization Affiliated Provider' insert-newline="querySubmitted"}}</label>
    <label>Authorized Official {{input value=authorizedOfficialTemp placeholder='Organization Authorized Official' insert-newline="querySubmitted"}}</label>
  {{/if}}
</div>
<div class="search-buttons">
  {{yield}}
  {{#if sideNav}}
  <button  {{action 'querySubmitted'}} class='search'>Update Search</button>
  {{else}}
  <button {{action 'querySubmitted'}} class='search'>Search {{#if providerSearch}}People{{else}}Organizations{{/if}}</button>
  {{/if}}
</div>
