{{#if providerSearch}}
  <label>Name {{input value=name placeholder='Name' insert-newline="querySubmitted"}}</label>
{{else}}
  <label>Organization Name {{input value=name placeholder='Organization Name' insert-newline="querySubmitted"}}</label>
{{/if}}

<label>Location {{input value=location placeholder='Location' insert-newline="querySubmitted"}}</label>
<label>Specialties {{input value=taxonomy placeholder='Specialty' insert-newline="querySubmitted"}}</label>
<label>NPI {{input value=npi placeholder='NPI' insert-newline="querySubmitted"}}</label>

{{#if providerSearch}}
  <label>Affiliated Organization {{input value=organization placeholder='Affiliated Organization' insert-newline="querySubmitted"}}</label>
{{else}}
  <label>Affiliated Person {{input value=affiliated_provider placeholder='Affiliated Provider' insert-newline="querySubmitted"}}</label>
  <label>Authorized Official {{input value=authorized_official placeholder='Authorized Official' insert-newline="querySubmitted"}}</label>
{{/if}}

{{yield}}
{{#unless sideNav}}<button {{action 'querySubmitted'}} class='search'>Search {{#if providerSearch}}People{{else}}Organizations{{/if}}</button>{{/unless}}
