{{#if providerSearch}}
  <label>Name {{input value=name placeholder='Tyler Pledger' insert-newline="querySubmitted"}}</label>
{{else}}
  <label>Organization Name {{input value=name placeholder='Choices for Life' insert-newline="querySubmitted"}}</label>
{{/if}}

<label>Location {{input value=location placeholder='Chicago' insert-newline="querySubmitted"}}</label>
<label>Specialties 
  {{select-2
    content=taxonomies
    value=taxonomy
    placeholder="Choose a specialty"
    optionValuePath="text"
    allowClear=true
    cssClass="select2"
  }}
</label>

<label>NPI {{input value=npi placeholder='1386806149' insert-newline="querySubmitted"}}</label>

{{#if providerSearch}}
  <label>Affiliated Organization {{input value=organization placeholder='Maimonides Medical Center' insert-newline="querySubmitted"}}</label>
{{else}}
  <label>Affiliated Person {{input value=affiliated_provider placeholder='Nancy Barker' insert-newline="querySubmitted"}}</label>
  <label>Authorized Official {{input value=authorized_official placeholder='Denise' insert-newline="querySubmitted"}}</label>
{{/if}}
<div class="search-buttons">
{{yield}}
{{#if sideNav}}
<button  {{action 'querySubmitted'}} class='search'>Update Search</button>
{{else}}
<button {{action 'querySubmitted'}} class='search'>Search {{#if providerSearch}}People{{else}}Organizations{{/if}}</button>
{{/if}}
</div>
