<td>{{#link-to 'organizations/show' entity.id }}{{entity.id}}{{/link-to}}</td>
<td>
  {{entity.organizationNameLegalBusinessName}}
  {{#if fullAuthorizedName}}
    <span>{{fullAuthorizedName}}</span>
  {{/if}}
</td>
<td>{{entity.practiceLocationAddress.shortLocation}}</td>
<td>
  {{#each entity.classificationSpecialties key="@index" as |classSpecialty|}}
    {{!-- Should figure out someway to assign the proper taxonomy definition (it is a good addition!) --}}
    <span class="taxonomy">{{classSpecialty}} <span class="tooltip">{{classSpecialty.definition}}</span></span>
  {{/each}}
</td>

{{yield}}
