<div class="banner"></div>

{{outlet}}

<section>

  <div class="context">
    {{home-link}}
  </div>

  <div class="main">

    <div class="name">
      <h1>{{model.organizationNameLegalBusinessName}} <span class='npi'>{{model.id}}</span></h1>
      {{#if model.otherOrganizationName}}
        <h2>({{model.otherOrganizationName}})</h2>
      {{/if}}
    </div>

    <div class="affiliations">
      <p class="label">Affiliated Providers</p>
      <table>
        {{#each model.providers key="@index" as |provider|}}
          <tr>
            <td>{{#link-to 'providers/show' provider.id}}{{provider.fullName}}{{/link-to}}</td>
            <td>{{provider.classificationSummary}}</td>
          </tr>
        {{/each}}
      </table>
    </div>

    <div class="practice">
      <p class="label">Practice Location Information</p>
      <ul>
        <li>{{model.practiceLocationAddress.streetAddress}}</li>
        <li>{{model.practiceLocationAddress.shortLocation2}}</li>
        <li><iframe width="100%" height="250" frameborder="0" style="border:0" src="{{unbound model.practiceLocationAddress.mapLink}}"></iframe></li>
        <li><a href='{{unbound model.practiceLocationAddress.mapLink}}'>{{fa-icon 'map-marker' fixedWidth=true}} Find on Google </a></li>
        <li>{{#if model.practiceLocationAddress.formattedPhone}} <a href="tel:{{model.practiceLocationAddress.telephoneNumber}}"> {{fa-icon 'phone' fixedWidth=true}} {{model.practiceLocationAddress.formattedPhone}}</a> {{/if}}</li>
        <li>{{#if model.practiceLocationAddress.formattedFax}} {{fa-icon 'fax' fixedWidth=true}} {{model.practiceLocationAddress.formattedFax}} {{/if}}</li>
      </ul>
    </div>

    <div class="mailing">
      <p class="label">Mailing Information</p>
      <ul>
        <li>{{model.mailingAddress.streetAddress}}</li>
        <li>{{model.mailingAddress.shortLocation2}}</li>
        <li><iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" width="100%" height="250" frameborder="0" style="border:0" src="{{unbound model.mailingAddress.mapLink}}"></iframe></li>
        <li><a href='{{unbound model.mailingAddress.mapLink}}'>{{fa-icon 'map-marker' fixedWidth=true}} Find on Google </a></li>
        <li>{{#if model.mailingAddress.formattedPhone}} <a href="tel:{{model.mailingAddress.telephoneNumber}}"> {{fa-icon 'phone' fixedWidth=true}} {{model.mailingAddress.formattedPhone}} </a> {{/if}}</li>
        <li>{{#if model.mailingAddress.formattedFax}} {{fa-icon 'fax' fixedWidth=true}} {{model.mailingAddress.formattedFax}} {{/if}}</li>
      </ul>
    </div>

  </div>

</section>
