<div class="banner"></div>

{{outlet}}

<section>

  <div class="context">
    {{home-link}}
    {{back-link tagName="h1"}}
  </div>

  <div class="main">

    <div class="name">
      <h1>{{model.organizationNameLegalBusinessName}} <span class='npi'>{{model.id}}</span></h1>
      {{#if model.otherOrganizationName}}
        <h2>({{model.otherOrganizationName}})</h2>
      {{/if}}
    </div>

    <div class="affiliations">
      <p class="label">Affiliated Providers</p>
      <table>
        {{#each model.providers key="@index" as |provider|}}
          <tr>
            <td>{{#link-to 'providers/show' provider.id}}{{provider.fullName}}{{/link-to}}</td>
            <td>{{provider.classificationSummary}}</td>
          </tr>
        {{/each}}
      </table>
    </div>

    {{address-map class='practice' label='Practice Location Information' location=model.practiceLocationAddress}}
  
    {{address-map class='mailing' label='Mailing Information' location=model.mailingAddress}}

    {{other-information class='otherinformation' taxonomyLicenses=model.taxonomyLicenses otherProviderIdentifiers=model.otherProviderIdentifiers }}

  </div>

</section>
