<div class="banner"></div>

<section>
<div class="context">

    <h1>Edit Search</h1>
    <span>{{model.meta.totalResults}} results</span>

    <h2>Names</h2>
    <div class="searched-terms">
      <span class="searched">John Jacob {{fa-icon 'close'}}</span>
    </div>
    <div class="search-bar">
      {{input value=name placeholder='Type a name or NPI' class='search-bar'}}
    </div>

    <h2>Specialties</h2>
    <div class="searched-terms">
      <span class="searched">Dentist {{fa-icon 'close'}}</span>
    </div>
    <div class="search-bar">
      {{input value=taxonomy placeholder='Find by specialty' class='search-bar'}}
    </div>

</div>

<div class="main">

  {{outlet}}

  <table>
    <thead>
      <tr>
        <th>NPI</th>
        <th>Name</th>
        <th>Practice Location</th>
        <th>Specialties</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |provider|}}
        <tr>
          <td>{{#link-to 'providers/show' provider.id }}{{provider.id}}{{/link-to}}</td>
          <td>{{provider.namePrefix}} {{provider.firstName}} {{provider.middleName}} {{provider.lastNameLegalName}} {{provider.nameSuffix}}</td>
          <td>{{provider.practiceLocationAddress.city}}, {{provider.practiceLocationAddress.state}}</td>
          <td>
            {{#each classSpecialty in provider.classifcationSpecialties}}
              <span class="taxonomy">{{classSpecialty}}</span>
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if hasPrevious}}
    {{#link-to 'providers/index' (query-params offset=previousOffset)}}Previous{{/link-to}}
  {{else}}
    Previous
  {{/if}}

  {{#if hasNext}}
    {{#link-to 'providers/index' (query-params offset=nextOffset)}}Next{{/link-to}}
  {{else}}
    Next
  {{/if}}


</div>
</section
