
<div class="context">
  <h1>Edit Search</h1>
  <h2>Who?</h2>
  <p>Names</p>

  <h2>What</h2>
  <p>Taxonomies</p>

</div>

<div class="main">

  {{outlet}}
  <h1>{{model.length}} Results</h1>
  <table>
    <thead>
      <tr>
        <th>NPI</th>
        <th>Name {{fa-icon 'sort-alpha-asc'}}</th>
        <th>Specialty {{fa-icon 'sort-alpha-desc'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |provider|}}
        <tr>
          <td>{{#link-to 'providers/show' provider.id }}{{provider.id}}{{/link-to}}</td>
          <td>{{provider.namePrefix}} {{provider.firstName}} {{provider.middleName}} {{provider.lastNameLegalName}} {{provider.nameSuffix}}</td>
          <td>
            {{#each license in provider.taxonomyLicenses}}
              {{license.taxonomyCode.classification}}
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
