<div class="banner"></div>

<section>
<div class="context">
    {{home-link}}
    <h1>Edit Search</h1>
    <span>{{model.meta.totalResults}} results</span>

    <h2>Query</h2>
    <div class="search-bar">
      {{input placeholder="Find by name" value=query action="updateQuery" on="insert-newline"}}
    </div>

</div>

<div class="main">

  {{outlet}}

  <table>
    <thead>
      <tr>
        <th class="npi-col">NPI</th>
        <th class="name-col">Name</th>
        <th class="location-col">Practice Location</th>
        <th class="specialties-col">Specialties</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |provider|}}
        <tr>
          <td>{{#link-to 'providers/show' provider.id }}{{provider.id}}{{/link-to}}</td>
          <td>{{provider.namePrefix}} {{provider.firstName}} {{provider.middleName}} {{provider.lastNameLegalName}} {{provider.nameSuffix}}</td>
          <td>{{provider.practiceLocationAddress.shortLocation}}</td>
          <td>
            {{#each classSpecialty in provider.classifcationSpecialties}}
              <span class="taxonomy">{{classSpecialty}} <span class="tooltip">{{provider.taxonomyCode.definition}}</span></span>
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="pagination">
    {{#if hasPrevious}}
      {{#link-to 'providers/index' (query-params offset=previousOffset)}} {{fa-icon 'angle-left' fixedWidth=True}} Previous{{/link-to}}
    {{/if}}

    {{#if hasNext}}
      {{#link-to 'providers/index' (query-params offset=nextOffset)}} Next {{fa-icon 'angle-right' fixedWidth=True}} {{/link-to}}
    {{/if}}
  </div>

</div>
</section
