<div class="banner"></div>

{{outlet}}
<section>
  <div class="context">
    {{back-link}}
    {{home-link}}
  </div>
  <div class="main">
    <div class="name">
      <h1>{{#if model.female}}{{fa-icon 'venus' fixedWidth=true}}{{/if}}{{#if model.male}}{{fa-icon 'mars' fixedWidth=true}}{{/if}}
        {{#if model.otherFullName}}{{model.otherFullName}}{{else}}{{model.fullName}}{{/if}}
        <span class='npi'>{{model.id}}</span></h1>

      {{#if model.otherFullName}}<h2>{{model.fullName}}</h2>{{/if}}
    </div>

    {{#if model.organizations}}
    <div class="affiliated">
      <p class="label">Group Affiliations</p>
      <table>
        {{#each model.organizations key="@index" as |organization|}}
          <tr>
            <td>
              {{#link-to 'organizations/show' organization.id}}
                {{organization.organizationNameLegalBusinessName}}
                {{#if organization.otherOrganizationName}}
                  ({{organization.otherOrganizationName}})
                {{/if}}
              {{/link-to}}
              {{matching-esi entity=organization services=model.electronicServices}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
    {{/if}}

    {{address-map class='practice' label='Practice Location Information' location=model.practiceLocationAddress}}

    {{address-map class='mailing' label='Mailing Information' location=model.mailingAddress}}

    {{other-information class='otherinformation' taxonomyLicenses=model.taxonomyLicenses otherProviderIdentifiers=model.otherProviderIdentifiers }}

  </div>
</section>
