<div class="banner"></div>

{{outlet}}
<section>
<div class="context">
  <h1>{{#link-to '' class='correct' onclick="history.back(-1)"}}{{fa-icon 'arrow-left'}} return to results{{/link-to}}</h1>

  {{!-- <div class="actions">
    {{#link-to '' class='correct' tagName='button'}}Correct this information{{/link-to}}
  </div> --}}

</div>
<div class="main">
  <h1>
    {{#if model.female}}{{fa-icon 'venus'}}{{/if}}{{#if model.male}}{{fa-icon 'mars'}}{{/if}}
    {{model.fullName}}</h1>
  <h2>{{model.otherFullName}}</h2>

  <div class="profile">
    <h3></h3>
    <p>Mailing Address:
      {{model.mailingAddress.firstLine}}<br>
      {{model.mailingAddress.secondLine}}<br>
      {{model.mailingAddress.city}}, {{model.mailingAddress.state}}, {{model.mailingAddress.postalCode}}, {{model.mailingAddress.countryCode}}
    </p>
    <p>
      Phone: {{model.mailingAddress.formattedPhone}}<br>
      Fax: {{model.mailingAddress.faxNumber}}
    </p>
  </div>

  <div class="professional">
    <strong>{{model.id}}</strong>
    <ul>{{#each license in model.taxonomyLicenses}}
      <li>{{license.taxonomyCode.classificationSpecialty}} - {{license.licenseNumber}} - {{license.licenseNumberStateCode}}</li>
    {{/each}}</ul>
    <ul>{{#each identifier in model.otherProviderIdentifiers}}
      <li>{{identifier.identifier}} - 
      {{identifier.identifierTypeCode}} - 
      {{identifier.identifierState}} 
      {{#if identifier.identifierIssuer}} - {{identifier.identifierIssuer}} {{/if}}</li>
    {{/each}}</ul>
  </div>

</div>
</section>
