<div class="landing">
  <header>
    <h1>Medirectory</h1>
    <h2>Find a healthcare provider.</h2>
    <div class="search-type">
      <button {{action 'setProviderSearch'}} class="provider {{if providerSearch 'active' ''}}"><span>People</span></button>
      <button {{action 'setOrganizationSearch'}} class="organization {{if providerSearch '' 'active'}}"><span>Organizations</span></button>
    </div>
    <div class="search-bar">
      {{#if basicSearch}}
        {{#basic-search submit='submit' placeholder='Try "camille houston" or "williams portland"' providerSearch=providerSearch}}
        <button {{action 'advanced'}} class="secondary">Switch to Advanced Search </button>
        {{/basic-search}}
      {{else}}
        {{#advanced-search submit='submit' name=name location=location geo_zip=geo_zip radius=radius taxonomy=taxonomy npi=npi organization=organization affiliated_provider=provider authorized_official=authorized_official providerSearch=providerSearch}}
          <button {{action 'basic'}} class="secondary">Switch to Basic Search </button>
        {{/advanced-search}}
      {{/if}}
    </div>
  </header>

  <footer>
    <h3>What is Medirectory?</h3>
    <p>Medirectory is a prototype project by The MITRE Corporation. The project is open source and its code can be accessed at <a href="https://github.com/Medirectory" alt="Source code for Medirectory">https://github.com/Medirectory</a>.</p>
  </footer>
</div>
